In [2]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
import ast
import re

In [3]:
import tensorflow as tf

# GPU 사용 설정
device_name = tf.test.gpu_device_name()
if not tf.config.list_physical_devices('GPU'):
    print("GPU를 찾을 수 없습니다. 런타임 유형을 GPU로 변경해주세요.")
else:
    print(f"GPU 장치: {device_name}")

GPU 장치: /device:GPU:0

2023-12-07 16:14:00.754865: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2
2023-12-07 16:14:00.754891: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2023-12-07 16:14:00.754899: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2023-12-07 16:14:00.755292: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:303] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-12-07 16:14:00.755823: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:269] Created TensorFlow device (/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

# 1. ATEPC, APC 모델의 감성 예측 결과 결합하기
- 목적    
    : 처음 ATEPC 모델로 속성 단어와 그에 대한 감성을 추출함. 일부 속성에 대한 감성이 예측된 결과가 존재함. 이는 APC 모델로 감성 예측한 결과보다 정확도가 높다고 판단했기 때문에 (수기로 비교한 결과) 동일한 문장에 대해 ATEPC 모델의 감성 예측 결과와 APC 모델의 결과가 다를 경우 ATEPC 모델의 감성 예측 결과를 우선으로 사용함.

In [3]:
df_asp = pd.read_csv('apc_훈련데이터셋.csv')
#df_asp = df_asp.iloc[:100, :]
print('데이터 개수:', df_asp.shape[0])
df_asp.head()

데이터 개수: 102927

,id,mark_sentence,ori_feature,feature,main_feature
0,1,too plasticky for $ 700 . when i put a review ...,quality materials,qualiti_materi,body
1,2,so far super good . i got my s3 in white yeste...,memory,memori,stor
2,2,so far super good . i got my s3 in white yeste...,battery,batteri,bat
3,2,so far super good . i got my s3 in white yeste...,battery life,batteri_life,bat
4,3,expensive or respect . i ' ve narrowed my choi...,16gb,16gb,stor

In [4]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

def tokenize_sentence(sentence):
    tokens = word_tokenize(sentence)  
    return tokens

def tokenize_sentence(sentence):
    tokens = word_tokenize(sentence)
    filtered_tokens = [token for token in tokens if not re.match(r'\[[BE]-ASP\]', token)]
    return filtered_tokens

def find_word(tokens_list, target_word):
    indices = [i for i, token in enumerate(tokens_list) if token == target_word]
    return indices[0]

In [5]:
# 속성 위치 마킹하기
with tf.device(device_name):
    df_asp['mark_tokens'] = df_asp['mark_sentence'].apply(tokenize_sentence)
    target_word = "B-ASP"  
    df_asp['begin'] = df_asp['mark_tokens'].apply(lambda x: find_word(x, target_word))

    target_word = "E-ASP"  
    df_asp['end'] = df_asp['mark_tokens'].apply(lambda x: find_word(x, target_word))

2023-11-17 05:09:34.015057: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:303] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-11-17 05:09:34.015075: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:269] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [6]:
df_asp.head()

,id,mark_sentence,ori_feature,feature,main_feature,mark_tokens,begin,end
0,1,too plasticky for $ 700 . when i put a review ...,quality materials,qualiti_materi,body,"[too, plasticky, for, $, 700, ., when, i, put,...",52,57
1,2,so far super good . i got my s3 in white yeste...,memory,memori,stor,"[so, far, super, good, ., i, got, my, s3, in, ...",49,53
2,2,so far super good . i got my s3 in white yeste...,battery,batteri,bat,"[so, far, super, good, ., i, got, my, s3, in, ...",58,62
3,2,so far super good . i got my s3 in white yeste...,battery life,batteri_life,bat,"[so, far, super, good, ., i, got, my, s3, in, ...",60,65
4,3,expensive or respect . i ' ve narrowed my choi...,16gb,16gb,stor,"[expensive, or, respect, ., i, ', ve, narrowed...",42,46

In [7]:
df_result = pickle.load(open('감성예측결과_데이터프레임.pkl', 'rb'))
df_result = pd.DataFrame(df_result)
print('데이터 개수:', df_result.shape[0])
df_result.head()

데이터 개수: 102927

,text,aspect,sentiment,confidence,probs,ref_sentiment,ref_check,perplexity
0,too plasticky for $ 700 . when i put a review ...,[quality materials],[Negative],[0.9467122554779053],"[[0.94671226, 0.051195752, 0.0020920676]]",[-100],[],1.161164
1,so far super good . i got my s3 in white yeste...,[memory],[Positive],[0.9818015694618225],"[[0.0016739307, 0.01652445, 0.98180157]]",[-100],[],1.160901
2,great in hand it ' s super fast . i like the f...,[battery],[Positive],[0.9737927317619324],"[[0.003119114, 0.023088127, 0.97379273]]",[-100],[],1.161632
3,great in hand it ' s super fast . i like the f...,[battery life],[Positive],[0.985840916633606],"[[0.002144768, 0.012014278, 0.9858409]]",[-100],[],1.161632
4,expensive or respect . i ' ve narrowed my choi...,[16gb],[Negative],[0.4394790828227997],"[[0.43947908, 0.33674648, 0.22377446]]",[-100],[],1.160578

In [8]:
df_result['sentiment'] = df_result['sentiment'].apply(lambda x: str(x[0]))
df_result = df_result[['text', 'sentiment']]

In [9]:
df_con = pd.concat([df_asp, df_result], axis=1)
df_con.head()

,id,mark_sentence,ori_feature,feature,main_feature,mark_tokens,begin,end,text,sentiment
0,1,too plasticky for $ 700 . when i put a review ...,quality materials,qualiti_materi,body,"[too, plasticky, for, $, 700, ., when, i, put,...",52,57,too plasticky for $ 700 . when i put a review ...,Negative
1,2,so far super good . i got my s3 in white yeste...,memory,memori,stor,"[so, far, super, good, ., i, got, my, s3, in, ...",49,53,so far super good . i got my s3 in white yeste...,Positive
2,2,so far super good . i got my s3 in white yeste...,battery,batteri,bat,"[so, far, super, good, ., i, got, my, s3, in, ...",58,62,great in hand it ' s super fast . i like the f...,Positive
3,2,so far super good . i got my s3 in white yeste...,battery life,batteri_life,bat,"[so, far, super, good, ., i, got, my, s3, in, ...",60,65,great in hand it ' s super fast . i like the f...,Positive
4,3,expensive or respect . i ' ve narrowed my choi...,16gb,16gb,stor,"[expensive, or, respect, ., i, ', ve, narrowed...",42,46,expensive or respect . i ' ve narrowed my choi...,Negative

In [6]:
# apetc에서 도출된 감성과 결합하기 위해서
df_bf = pickle.load(open('감성분석후_속성전처리_데이터프레임.pkl', 'rb'))
print('데이터 개수:', df_bf.shape[0])
df_bf.head(2)

데이터 개수: 76215

,id,model,date,rating,sentence,IOB,tokens,aspect,position,sentiment,probs,confidence,new_tokens
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[too, plasticky, for, $, 700, ., when, i, put,...","[costs, materials]","[[45], [52]]","[Negative, Negative]","[[0.9986786246299744, 0.000984302954748273, 0....","[0.9987, 0.9983]","[too, plasticky, for, $, 700, ., when, i, put,..."
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[so, far, super, good, ., i, got, my, s3, in, ...","[memory, battery, battery life]","[[48], [57], [59, 60]]","[Neutral, Positive, Positive]","[[0.0006813739310018718, 0.5115107893943787, 0...","[0.5115, 0.9756, 0.9979]","[so, far, super, good, ., i, got, my, s3, in, ..."

In [11]:
lst_tokens = []
lst_position = []
lst_aspect = []
lst_sentiment = []

save_aspect = []
save_tokens = []
save_id = []
save_sentiment = []

save_position = []

with tf.device(device_name):
    for row in tqdm(range(df_bf.shape[0])):
        id = df_bf.loc[row, 'id']
        ori_lst_tokens = list(df_bf.loc[row, 'tokens'])
        lst_position = list(df_bf.loc[row, 'position'])
        lst_aspect = list(df_bf.loc[row, 'aspect'])
        lst_sentiment = list(df_bf.loc[row, 'sentiment'])

        for idx in range(len(lst_aspect)):
            lst_tokens = ori_lst_tokens[:]
            position = lst_position[idx][0]
            aspect = lst_aspect[idx]
            lst_tokens[position] = '[B-ASP]' + aspect + '[E-ASP]'
            mark_sentence = " ".join(lst_tokens)
            sentiment = lst_sentiment[idx]

            save_position.append(position)

            save_tokens.append(mark_sentence)
            save_aspect.append(aspect)
            save_sentiment.append(sentiment)
            save_id.append(id)

100%|██████████████████████████████████| 76215/76215 [00:03<00:00, 24234.80it/s]

In [12]:
df_atepc = pd.DataFrame({'id':save_id, 'bf_aspect':save_aspect, 'bf_sentiment':save_sentiment, 
                         'mark_sentence':save_tokens, 'position':save_position})
print('데이터 개수:', df_atepc.shape[0])
df_atepc.head()

데이터 개수: 132956

,id,bf_aspect,bf_sentiment,mark_sentence,position
0,1,costs,Negative,too plasticky for $ 700 . when i put a review ...,45
1,1,materials,Negative,too plasticky for $ 700 . when i put a review ...,52
2,2,memory,Neutral,so far super good . i got my s3 in white yeste...,48
3,2,battery,Positive,so far super good . i got my s3 in white yeste...,57
4,2,battery life,Positive,so far super good . i got my s3 in white yeste...,59

In [13]:
with tf.device(device_name):
    df_atepc['mark_tokens'] = df_atepc['mark_sentence'].apply(tokenize_sentence)

    target_word = "B-ASP"  
    df_atepc['begin'] = df_atepc['mark_tokens'].apply(lambda x: find_word(x, target_word))

    target_word = "E-ASP"  
    df_atepc['end'] = df_atepc['mark_tokens'].apply(lambda x: find_word(x, target_word))

    df_atepc = df_atepc[['id', 'bf_aspect', 'bf_sentiment', 'begin', 'end']]

In [15]:
df_atepc.head()

   id     bf_aspect bf_sentiment  begin  end
0   1         costs     Negative     46   50
1   1     materials     Negative     53   57
2   2        memory      Neutral     49   53
3   2       battery     Positive     58   62
4   2  battery life     Positive     60   65

In [16]:
with tf.device(device_name):
    merged_df = df_con.merge(df_atepc, on='id', how='outer')
    merged_df = merged_df[(merged_df['begin_y'] >= merged_df['begin_x']) & (merged_df['end_y'] <= merged_df['end_x'])]

In [17]:
with tf.device(device_name):
    df_mer = pd.merge(df_con, merged_df, on=['id', 'mark_sentence', 'ori_feature', 
                                            'feature', 'main_feature', 'sentiment', 'text'], how='left')
    df_mer = df_mer[['id', 'text', 'ori_feature', 'feature', 'main_feature', 
                     'sentiment', 'bf_sentiment', 'bf_aspect']]

df_mer.head()

,id,text,ori_feature,feature,main_feature,sentiment,bf_sentiment,bf_aspect
0,1,too plasticky for $ 700 . when i put a review ...,quality materials,qualiti_materi,body,Negative,Negative,materials
1,2,so far super good . i got my s3 in white yeste...,memory,memori,stor,Positive,Neutral,memory
2,2,great in hand it ' s super fast . i like the f...,battery,batteri,bat,Positive,Positive,battery
3,2,great in hand it ' s super fast . i like the f...,battery life,batteri_life,bat,Positive,Positive,battery life
4,3,expensive or respect . i ' ve narrowed my choi...,16gb,16gb,stor,Negative,NaN,NaN

In [18]:
with tf.device(device_name):
    df_info = df_bf[['id', 'model', 'date', 'rating']]
    df_bf_af = pd.merge(df_info, df_mer, on='id')
    print('데이터 개수:', df_bf_af.shape[0])
    df_bf_af.head()

데이터 개수: 103046

In [19]:
df_bf_af.to_csv('감성분석결과_atepc_병합', index=False)

In [25]:
data = pd.read_csv('감성분석결과_atepc_병합')
df = data.copy()

In [27]:
# 제약 걸기
df['f_sentiment'] = df.apply(lambda row: row['sentiment'] if pd.isna(row['bf_sentiment']) else row['bf_sentiment'], axis=1)

# 
print('제거 전 데이터 개수:', df.shape[0])
df = df[~((df['feature'] == 'charg') & df['bf_aspect'].isna())] # atepc charge 뽑힌거 아닌거는 다 제외하기 
df = df[df['main_feature']!='other'] # other(분류한 속성이 아닌 것) 제거하기 
print('제거 후 데이터 개수:', df.shape[0])

제거 전 데이터 개수: 103046
제거 후 데이터 개수: 96081

In [28]:
with tf.device(device_name):
    df_final = df[['id', 'bf_aspect', 'ori_feature', 'feature', 'main_feature', 
                   'f_sentiment']].groupby('id').agg(list).reset_index()

In [29]:
df_final = df_final.rename(columns={'ori_feature':'apc_aspect', 'bf_aspect':'atepc_aspect',
                                   'f_sentiment':'sentiment'})
print('데이터 개수:', df_final.shape[0])
df_final.head()

데이터 개수: 33093

,id,atepc_aspect,apc_aspect,feature,main_feature,sentiment
0,1,[materials],[quality materials],[qualiti_materi],[body],[Negative]
1,2,"[memory, battery, battery life]","[memory, battery, battery life]","[memori, batteri, batteri_life]","[stor, bat, bat]","[Neutral, Positive, Positive]"
2,3,"[nan, nan, nan, nan, nan]","[16gb, of storage, 32gb, 16gb, 32gb]","[16gb, storag, 32gb, 16gb, 32gb]","[stor, stor, stor, stor, stor]","[Negative, Negative, Negative, Positive, Posit..."
3,4,"[memory, nan, battery, nan, nan]","[memory, 32gb, battery, battery life, s3 battery]","[memori, 32gb, batteri, batteri_life, s3_batteri]","[stor, stor, bat, bat, bat]","[Positive, Positive, Positive, Positive, Posit..."
4,5,"[nan, processor, nan, screen, nan]","[core, processor, camera, size screen, bluetooth]","[core, processor, camera, size_screen, bluetooth]","[proc, proc, cam, dis, func]","[Positive, Positive, Positive, Positive, Posit..."

In [31]:
df_info = df_bf.copy()
df_info = df_info[['id', 'model', 'date', 'rating', 'sentence']]
print('데이터 개수:', df_info.shape[0])
df_info.head(2)

데이터 개수: 76215

,id,model,date,rating,sentence
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...

In [32]:
df_final_merge = pd.merge(df_info, df_final, on='id', how='left')

In [33]:
print('데이터 개수:', df_final_merge.shape[0])
df_final_merge.head(3)

데이터 개수: 76215

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,[materials],[quality materials],[qualiti_materi],[body],[Negative]
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"[memory, battery, battery life]","[memory, battery, battery life]","[memori, batteri, batteri_life]","[stor, bat, bat]","[Neutral, Positive, Positive]"
2,3,galaxy_s3,2012-06-01,2,Expensive or Respect . i ' ve narrowed my choi...,"[nan, nan, nan, nan, nan]","[16gb, of storage, 32gb, 16gb, 32gb]","[16gb, storag, 32gb, 16gb, 32gb]","[stor, stor, stor, stor, stor]","[Negative, Negative, Negative, Positive, Posit..."

In [35]:
df_final_merge['atepc_aspect'] = df_final_merge['atepc_aspect'].apply(lambda x: [] if np.all(pd.isna(x)) else x)
df_final_merge['apc_aspect'] = df_final_merge['apc_aspect'].apply(lambda x: [] if np.all(pd.isna(x)) else x)
df_final_merge['feature'] = df_final_merge['feature'].apply(lambda x: [] if np.all(pd.isna(x)) else x)
df_final_merge['main_feature'] = df_final_merge['main_feature'].apply(lambda x: [] if np.all(pd.isna(x)) else x)
df_final_merge['sentiment'] = df_final_merge['sentiment'].apply(lambda x: [] if np.all(pd.isna(x)) else x)

In [36]:
print('데이터 개수:', df_final_merge.shape[0])
df_final_merge.tail(4)

데이터 개수: 76215

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment
76211,76228,galaxy_s10e,2023-04-20,5,the phone is amazing . this is just like the s...,"[size, nan, display]","[size, style, display]","[size, style, display]","[body, body, dis]","[Positive, Positive, Positive]"
76212,76229,galaxy_s10e,2023-03-16,5,muy bueno . muy buen producto,[],[],[],[],[]
76213,76230,galaxy_s10e,2023-02-18,5,"el dispositivo llegó en muy buen estado , se n...",[],[],[],[],[]
76214,76231,galaxy_s10e,2023-05-15,5,awesome phone . this phone is packed with feat...,"[nan, screen, nan, charged, nan]","[space, screen burn, scratches, charged, camera]","[space, screen_burn, scratch, charg, camera]","[stor, dis, body, bat, cam]","[Positive, Positive, Positive, Positive, Posit..."

In [37]:
import pickle
file_name = '감성분석결과_데이터프레임.pkl'

# 데이터를 pickle 파일로 저장
with open(file_name, 'wb') as file:
    pickle.dump(df_final_merge, file)
    
df_final_merge.to_csv('감성분석결과_데이터프레임.csv', index=False)

# 2. 언어 분류
- 영어권 리뷰만 사용하기 위해서

In [39]:
data = pickle.load(open('감성분석결과_데이터프레임.pkl', 'rb'))
print(data.shape)
data.head(3)

(76215, 10)

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,[materials],[quality materials],[qualiti_materi],[body],[Negative]
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"[memory, battery, battery life]","[memory, battery, battery life]","[memori, batteri, batteri_life]","[stor, bat, bat]","[Neutral, Positive, Positive]"
2,3,galaxy_s3,2012-06-01,2,Expensive or Respect . i ' ve narrowed my choi...,[],"[16gb, of storage, 32gb, 16gb, 32gb]","[16gb, storag, 32gb, 16gb, 32gb]","[stor, stor, stor, stor, stor]","[Negative, Negative, Negative, Positive, Posit..."

In [40]:
import fasttext
model = fasttext.load_model('lid.176.bin')

def detect_language(text):
    text = text.replace('\n', '')
    predictions = model.predict(text)
    predicted_label = predictions[0][0].replace('__label__', '')
    return predicted_label

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [41]:
data['lan'] = data['sentence'].apply(detect_language)

In [42]:
print('전체 데이터 수:', end=' ')
print(data.shape[0])
print('영어권 데이터 수:', end=' ')
print(data[data['lan'].isin(['en', 'ja', 'ceb'])].shape[0])
print('제외된 데이터 수:', end=' ')
print(data[~data['lan'].isin(['en', 'ja', 'ceb'])].shape[0])

전체 데이터 수: 76215
영어권 데이터 수: 74148
제외된 데이터 수: 2067

In [43]:
# 영어권 리뷰만 추출
data = data[data['lan'].isin(['en', 'ja', 'ceb'])]
data = data.drop('lan', axis=1).reset_index(drop=True)

# 3. 데이터프레임 형태 구축

In [44]:
df = data.copy()
print('데이터 개수:', df.shape[0])
df.head(3)

데이터 개수: 74148

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,[materials],[quality materials],[qualiti_materi],[body],[Negative]
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"[memory, battery, battery life]","[memory, battery, battery life]","[memori, batteri, batteri_life]","[stor, bat, bat]","[Neutral, Positive, Positive]"
2,3,galaxy_s3,2012-06-01,2,Expensive or Respect . i ' ve narrowed my choi...,[],"[16gb, of storage, 32gb, 16gb, 32gb]","[16gb, storag, 32gb, 16gb, 32gb]","[stor, stor, stor, stor, stor]","[Negative, Negative, Negative, Positive, Posit..."

In [45]:
def main_feature_sort(lst_sentiment, lst_aspect):
    index = 0
    lst_result = []
    
    for aspect in lst_aspect:
        sentiment = lst_sentiment[index]

        if sentiment=='Negative':
            final_aspect = aspect + '_n'
        elif sentiment=='Neutral':
            final_aspect = aspect + '_m'
        else:
            final_aspect = aspect + '_p'
        lst_result.append(final_aspect)
        index += 1
    
    return list(set(lst_result))

In [46]:
df['sort_result'] = df.apply(lambda row: main_feature_sort(row['sentiment'], row['main_feature']), axis=1)

In [47]:
labels = ['bat', 'dis', 'cam', 'body', 'func', 'proc', 'stor', 'acc', 'main']
sentiments = ['p', 'm', 'n']

# 새로운 데이터프레임 생성
df_aspect = df.copy()

with tf.device(device_name):
    # 모든 라벨과 감정 조합에 대해 열 생성 및 라벨링
    for label in labels:
        for sentiment in sentiments:
            column_name = f"{label}_{sentiment}"
            df_aspect[column_name] = 0  # 초기값 설정

    # 각 행을 차례로 돌며, 라벨링 진행
    for row in range(df_aspect.shape[0]):
        for aspect in df_aspect.loc[row, 'sort_result']:
            df_aspect.loc[row, aspect] =1

In [49]:
df_aspect.head(2)

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment,...,proc_n,stor_p,stor_m,stor_n,acc_p,acc_m,acc_n,main_p,main_m,main_n
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,[materials],[quality materials],[qualiti_materi],[body],[Negative],...,0,0,0,0,0,0,0,0,0,0
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"[memory, battery, battery life]","[memory, battery, battery life]","[memori, batteri, batteri_life]","[stor, bat, bat]","[Neutral, Positive, Positive]",...,0,0,1,0,0,0,0,0,0,0

In [50]:
labels = ['bat', 'dis', 'cam', 'body', 'func', 'proc', 'stor', 'acc', 'main']
yesno = ['yn']

# 새로운 데이터프레임 생성
df_aspect_yn = df_aspect.copy()

with tf.device(device_name):
    # 모든 라벨과 감정 조합에 대해 열 생성 및 라벨링
    for label in labels:
        column_name = label +'_yn'
        df_aspect_yn[column_name] = 0  # 초기값 설정

    for row in range(df_aspect_yn.shape[0]):
        for aspect in df_aspect_yn.loc[row, 'sort_result']:
            col_name = aspect.split('_')[0] + '_yn'
            df_aspect_yn.loc[row, col_name] = 1

In [51]:
# storage, processor, 기존 mainboard을 모두 포함하는 것을 모두 mainboard로 분류
df_aspect_yn.loc[df_aspect_yn['stor_p']==1, 'main_p'] = 1
df_aspect_yn.loc[df_aspect_yn['stor_m']==1, 'main_m'] = 1
df_aspect_yn.loc[df_aspect_yn['stor_n']==1, 'main_n'] = 1

df_aspect_yn.loc[df_aspect_yn['proc_p']==1, 'main_p'] = 1
df_aspect_yn.loc[df_aspect_yn['proc_m']==1, 'main_m'] = 1
df_aspect_yn.loc[df_aspect_yn['proc_n']==1, 'main_n'] = 1

df_aspect_yn.loc[df_aspect_yn['stor_yn']==1, 'main_yn'] = 1
df_aspect_yn.loc[df_aspect_yn['proc_yn']==1, 'main_yn'] = 1

In [52]:
for label in labels:
    for sentiment in sentiments:
        column_name = f"{label}_{sentiment}"
        print(column_name, ':', df_aspect_yn[df_aspect_yn[column_name]==1].shape[0])
    print('')

bat_p : 3736
bat_m : 616
bat_n : 8878

dis_p : 3025
dis_m : 378
dis_n : 5212

cam_p : 2540
cam_m : 224
cam_n : 2217

body_p : 7033
body_m : 657
body_n : 7358

func_p : 2646
func_m : 326
func_n : 4504

proc_p : 456
proc_m : 60
proc_n : 289

stor_p : 1324
stor_m : 451
stor_n : 1035

acc_p : 2102
acc_m : 722
acc_n : 4695

main_p : 1682
main_m : 511
main_n : 1454

In [53]:
num_sum = 0

for label in labels:
    column_name = label + '_yn'
    aspect_num = df_aspect_yn[df_aspect_yn[column_name]==1].shape[0]
    num_sum += aspect_num
    print(column_name, ':', aspect_num)
    print('')

be_num = num_sum
print('전체 합 :', be_num)

bat_yn : 12423

dis_yn : 8003

cam_yn : 4548

body_yn : 13654

func_yn : 6878

proc_yn : 718

stor_yn : 2535

acc_yn : 6831

main_yn : 3255

전체 합 : 58845

In [55]:
df_aspect_yn.head(2)

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment,...,main_n,bat_yn,dis_yn,cam_yn,body_yn,func_yn,proc_yn,stor_yn,acc_yn,main_yn
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,[materials],[quality materials],[qualiti_materi],[body],[Negative],...,0,0,0,0,1,0,0,0,0,0
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"[memory, battery, battery life]","[memory, battery, battery life]","[memori, batteri, batteri_life]","[stor, bat, bat]","[Neutral, Positive, Positive]",...,0,1,0,0,0,0,0,1,0,1

In [58]:
df_aspect_yn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74148 entries, 0 to 74147
Data columns (total 47 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            74148 non-null  int64
 1   model         74148 non-null  object
 2   date          74148 non-null  object
 3   rating        74148 non-null  int64
 4   sentence      74148 non-null  object
 5   atepc_aspect  74148 non-null  object
 6   apc_aspect    74148 non-null  object
 7   feature       74148 non-null  object
 8   main_feature  74148 non-null  object
 9   sentiment     74148 non-null  object
 10  sort_result   74148 non-null  object
 11  bat_p         74148 non-null  int64
 12  bat_m         74148 non-null  int64
 13  bat_n         74148 non-null  int64
 14  dis_p         74148 non-null  int64
 15  dis_m         74148 non-null  int64
 16  dis_n         74148 non-null  int64
 17  cam_p         74148 non-null  int64
 18  cam_m         74148 non-null  int64
 19  cam_n         74148 non-null  int64
 20  body_p        74148 non-null  int64
 21  body_m        74148 non-null  int64
 22  body_n        74148 non-null  int64
 23  func_p        74148 non-null  int64
 24  func_m        74148 non-null  int64
 25  func_n        74148 non-null  int64
 26  proc_p        74148 non-null  int64
 27  proc_m        74148 non-null  int64
 28  proc_n        74148 non-null  int64
 29  stor_p        74148 non-null  int64
 30  stor_m        74148 non-null  int64
 31  stor_n        74148 non-null  int64
 32  acc_p         74148 non-null  int64
 33  acc_m         74148 non-null  int64
 34  acc_n         74148 non-null  int64
 35  main_p        74148 non-null  int64
 36  main_m        74148 non-null  int64
 37  main_n        74148 non-null  int64
 38  bat_yn        74148 non-null  int64
 39  dis_yn        74148 non-null  int64
 40  cam_yn        74148 non-null  int64
 41  body_yn       74148 non-null  int64
 42  func_yn       74148 non-null  int64
 43  proc_yn       74148 non-null  int64
 44  stor_yn       74148 non-null  int64
 45  acc_yn        74148 non-null  int64
 46  main_yn       74148 non-null  int64
dtypes: int64(38), object(9)
memory usage: 26.6+ MB

In [56]:
import pickle
file_name = '감성분석결과_최종_데이터프레임.pkl'

# 데이터를 pickle 파일로 저장
with open(file_name, 'wb') as file:
    pickle.dump(df_aspect_yn, file)
    
df_aspect_yn.to_csv('감성분석결과_최종_데이터프레임.csv', index=False)