In [2]:
import pandas as pd
import numpy as np
import os
#os.chdir('')
from tqdm import tqdm
from collections import Counter
import pickle


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'AppleGothic'
import matplotlib
from matplotlib import font_manager, rc
import platform
matplotlib.rcParams['axes.unicode_minus'] = False

In [4]:
data_path = '/Users/sonjiyeong/Documents/랩실 프로젝트/스마트폰 리뷰마이닝/2. 속성 기반 감성 분석/output/'

# 연차별 단어수

In [103]:
data = pickle.load(open(data_path + '최종_period_데이터프레임.pkl', 'rb'))
df = data.copy()

df = df[['id', 'model', 'date', 'period', 'sentence']]
df = df[df['period'].isin(['1', '2', '3'])]

In [104]:
def tokenize(text):
    return text.split()

def sentence_length(lst):
    return len(lst)

df['sentence_token'] = df['sentence'].apply(tokenize)
df['sentence_length'] = df['sentence_token'].apply(sentence_length)

In [105]:
df

,id,model,date,period,sentence,sentence_token,sentence_length
0,1,galaxy_s3,2012-05-11,1,too plasticky for $ 700 . When I put a review ...,"[too, plasticky, for, $, 700, ., When, I, put,...",57
1,2,galaxy_s3,2012-06-01,1,So far super good . I got my S3 in white yeste...,"[So, far, super, good, ., I, got, my, S3, in, ...",108
2,3,galaxy_s3,2012-06-01,1,Expensive or Respect . i ' ve narrowed my choi...,"[Expensive, or, Respect, ., i, ', ve, narrowed...",137
3,4,galaxy_s3,2012-06-04,1,I like the fact to . . . . got my S3 in white ...,"[I, like, the, fact, to, ., ., ., ., got, my, ...",184
4,5,galaxy_s3,2012-06-06,1,One of the best phones this year . For me the ...,"[One, of, the, best, phones, this, year, ., Fo...",130
...,...,...,...,...,...,...,...
74138,76218,galaxy_s10e,2021-08-25,3,great battery life . this phone has a great ba...,"[great, battery, life, ., this, phone, has, a,...",32
74142,76224,galaxy_s10e,2022-01-18,3,great . awesome phones,"[great, ., awesome, phones]",4
74143,76225,galaxy_s10e,2021-06-03,3,"a phone worth the price . great phone , i am a...","[a, phone, worth, the, price, ., great, phone,...",43
74144,76226,galaxy_s10e,2021-09-01,3,great phone . great phone no problems came wit...,"[great, phone, ., great, phone, no, problems, ...",11
74145,76227,galaxy_s10e,2021-08-24,3,"upgraded from galaxy s10 + . yeah , you read t...","[upgraded, from, galaxy, s10, +, ., yeah, ,, y...",135

In [106]:
df_mean = df.groupby(['model', 'period']).mean()
df_mean
#df_mean.to_excel('단어수_평균.xlsx')

                                id  sentence_length
model         period
galaxy_s10e   1       75258.405303        55.022727
              2       75052.716912        72.308824
              3       75048.056051        57.126115
galaxy_s3     1         581.962835       138.700951
              2        1901.876112        82.065708
              3        3565.730525        39.020196
galaxy_s4     1        6023.471872       100.958018
              2        7270.409233        50.057903
              3        8463.698592        47.632864
galaxy_s5     1       10911.258741        81.167096
              2       13332.887011        57.915017
              3       15207.866023        56.733856
galaxy_s6     1       17747.568302        97.018868
              2       19013.296482        50.614740
              3       20526.895628        49.808197
galaxy_s7     1       22876.739750        86.624777
              2       24238.695214        56.273300
              3       25787.282855        56.436958
iphone4       1       28439.000000       283.826087
              2       28537.500000       122.557471
              3       29126.219561        64.958084
iphone4s      1       31757.500000       142.580000
              2       32255.303413        71.103666
              3       33321.820494        57.055348
iphone5       1       36299.570111       117.771218
              2       36957.652399        60.317769
              3       38459.473059        37.703196
iphone6s      1       41447.150808        65.156194
              2       42482.101392        42.927767
              3       44475.758635        45.138968
iphone7       1       49317.108456        62.908088
              2       50150.725384        43.165312
              3       52073.666050        44.205479
iphone_5s     1       55633.711434        79.014519
              2       56836.905081        34.539363
              3       58534.745022        35.466924
iphone_6      1       61683.436441        57.494703
              2       62749.898577        41.577402
              3       64315.304370        40.689460
iphone_xs     1       68411.555556        49.481481
              2       68144.979564        47.891008
              3       68057.758207        47.231385
iphone_xs_max 1       72446.437500        98.437500
              2       71822.164729        47.869186
              3       71798.284507        45.375587

In [100]:
df.groupby('period').mean().reset_index()

  period            id  sentence_length
0      1  24668.443730        90.497142
1      2  35923.179626        53.743782
2      3  39927.469181        46.895581

In [101]:
df.groupby('period').median().reset_index()

  period       id  sentence_length
0      1  17618.5             38.0
1      2  36599.0             32.0
2      3  39291.5             30.0

In [21]:
df_median = df.groupby(['model', 'period']).median()
df_median
df_median.to_excel('단어수_중앙값.xlsx')

                           id  sentence_length
model         period
galaxy_s10e   1       75362.0             35.5
              2       75124.0             46.0
              3       74969.0             39.0
galaxy_s3     1         581.0             70.0
              2        1901.0             47.0
              3        3574.0             20.0
galaxy_s4     1        6023.0             46.0
              2        7268.5             28.0
              3        8465.0             28.0
galaxy_s5     1       10913.0             33.0
              2       13334.0             32.0
              3       15207.0             33.0
galaxy_s6     1       17749.0             38.0
              2       19013.5             30.0
              3       20526.5             34.0
galaxy_s7     1       22877.5             39.0
              2       24239.5             35.0
              3       25787.0             39.0
iphone4       1       28439.0            174.0
              2       28537.5             54.0
              3       29125.5             42.0
iphone4s      1       31757.5             62.0
              2       32256.0             43.0
              3       33322.0             39.0
iphone5       1       36300.5             43.0
              2       36957.0             38.0
              3       38460.5             21.0
iphone6s      1       41448.0             21.0
              2       42482.0             27.0
              3       44477.0             30.0
iphone7       1       49319.5             27.0
              2       50150.0             28.0
              3       52074.0             29.0
iphone_5s     1       55632.0             36.0
              2       56839.0             17.0
              3       58533.0             20.0
iphone_6      1       61682.5             16.0
              2       62750.5             18.0
              3       64317.0             24.0
iphone_xs     1       68574.0             34.0
              2       68282.5             34.5
              3       68007.0             31.0
iphone_xs_max 1       72647.5             24.0
              2       71945.0             30.0
              3       71668.0             31.0

# Characteristics of review groups

In [155]:
df_ori = pd.read_csv(data_path + '최종_period_데이터프레임.csv')
df = df_ori.copy()
df = df[df['period']<=3]
df.head(3)
df.shape

,id,model,date,rating,sentence,atepc_aspect,apc_aspect,feature,main_feature,sentiment,...,bat_yn,dis_yn,cam_yn,body_yn,func_yn,proc_yn,stor_yn,acc_yn,main_yn,period
0,1,galaxy_s3,2012-05-11,2,too plasticky for $ 700 . When I put a review ...,['materials'],['quality materials'],['qualiti_materi'],['body'],['Negative'],...,0,0,0,1,0,0,0,0,0,1
1,2,galaxy_s3,2012-06-01,5,So far super good . I got my S3 in white yeste...,"['memory', 'battery', 'battery life']","['memory', 'battery', 'battery life']","['memori', 'batteri', 'batteri_life']","['stor', 'bat', 'bat']","['Neutral', 'Positive', 'Positive']",...,1,0,0,0,0,0,1,0,1,1
2,3,galaxy_s3,2012-06-01,2,Expensive or Respect . i ' ve narrowed my choi...,[],"['16gb', 'of storage', '32gb', '16gb', '32gb']","['16gb', 'storag', '32gb', '16gb', '32gb']","['stor', 'stor', 'stor', 'stor', 'stor']","['Negative', 'Negative', 'Negative', 'Positive...",...,0,0,0,0,0,0,1,0,1,1

(52441, 48)

In [156]:
df = df.groupby(['model', 'period']).agg(
    number_of_reviews=('id', 'count'),
    average_star_rating=('rating', 'mean'))
df = df.rename(columns={'number_of_reviews':'Number of reviews', 'average_star_rating':'Average star rating'})
df.head()
df.shape

                    Number of reviews  Average star rating
model       period
galaxy_s10e 1                     264             4.200758
            2                     544             4.113971
            3                     785             3.935032
galaxy_s3   1                    1157             3.905791
            2                    1461             3.686516

(45, 2)

In [157]:
total_reviews = df.groupby('model')['Number of reviews'].transform('sum')
df['Percentage of reviews'] = (df['Number of reviews'] / total_reviews) * 100

In [158]:
df1 = df.reset_index()
df1.head()
df1.shape

,model,period,Number of reviews,Average star rating,Percentage of reviews
0,galaxy_s10e,1,264,4.200758,16.572505
1,galaxy_s10e,2,544,4.113971,34.149404
2,galaxy_s10e,3,785,3.935032,49.278092
3,galaxy_s3,1,1157,3.905791,26.591588
4,galaxy_s3,2,1461,3.686516,33.578488

(45, 5)

In [159]:
df_m = df_mean.copy()
df_m = df_m.reset_index()
df_m['period'] = df_m['period'].astype('int')
df_m.head()
df_m.shape

         model  period            id  sentence_length
0  galaxy_s10e       1  75258.405303        55.022727
1  galaxy_s10e       2  75052.716912        72.308824
2  galaxy_s10e       3  75048.056051        57.126115
3    galaxy_s3       1    581.962835       138.700951
4    galaxy_s3       2   1901.876112        82.065708

(45, 4)

In [162]:
df_mer = pd.merge(df1, df_m, on=['model', 'period'])
df_mer = df_mer.rename(columns={'sentence_length':'Average word count'}).drop(columns='id')
df_mer.set_index(['model', 'period'], inplace=True)

In [164]:
df_mer

                      Number of reviews  Average star rating  \
model         period
galaxy_s10e   1                     264             4.200758
              2                     544             4.113971
              3                     785             3.935032
galaxy_s3     1                    1157             3.905791
              2                    1461             3.686516
              3                    1733             3.585690
galaxy_s4     1                    1191             3.753149
              2                    1278             3.603286
              3                    1065             3.324883
galaxy_s5     1                    2717             4.190283
              2                    2071             3.874457
              3                    1657             3.550392
galaxy_s6     1                    1325             3.801509
              2                    1194             3.576214
              3                    1830             3.150820
galaxy_s7     1                    1122             3.773619
              2                    1588             3.648615
              3                    1499             3.313542
iphone4       1                      23             3.739130
              2                     174             3.804598
              3                    1002             3.670659
iphone4s      1                     200             3.795000
              2                     791             3.702908
              3                    1337             3.575168
iphone5       1                     542             3.785978
              2                     771             3.546044
              3                    2190             3.602740
iphone6s      1                     557             3.895871
              2                    1509             3.793903
              3                    2461             3.724502
iphone7       1                     544             3.634191
              2                    1107             3.515808
              3                    2701             3.488708
iphone_5s     1                     551             3.851180
              2                    1791             4.011725
              3                    1557             3.727681
iphone_6      1                     944             4.257415
              2                    1124             3.994662
              3                    1945             3.259126
iphone_xs     1                      27             3.740741
              2                     734             4.072207
              3                    1249             3.818255
iphone_xs_max 1                      32             3.500000
              2                    1032             4.228682
              3                    1065             4.032864

                      Percentage of reviews  Average word count
model         period
galaxy_s10e   1                   16.572505           55.022727
              2                   34.149404           72.308824
              3                   49.278092           57.126115
galaxy_s3     1                   26.591588          138.700951
              2                   33.578488           82.065708
              3                   39.829924           39.020196
galaxy_s4     1                   33.701188          100.958018
              2                   36.162988           50.057903
              3                   30.135823           47.632864
galaxy_s5     1                   42.156711           81.167096
              2                   32.133437           57.915017
              3                   25.709853           56.733856
galaxy_s6     1                   30.466774           97.018868
              2                   27.454587           50.614740
              3                   42.078639           49.808197
galaxy_s7     1                   26.657163           86.624777
              2                   37.728677           56.273300
              3                   35.614160           56.436958
iphone4       1                    1.918265          283.826087
              2                   14.512093          122.557471
              3                   83.569641           64.958084
iphone4s      1                    8.591065          142.580000
              2                   33.977663           71.103666
              3                   57.431271           57.055348
iphone5       1                   15.472452          117.771218
              2                   22.009706           60.317769
              3                   62.517842           37.703196
iphone6s      1                   12.303954           65.156194
              2                   33.333333           42.927767
              3                   54.362713           45.138968
iphone7       1                   12.500000           62.908088
              2                   25.436581           43.165312
              3                   62.063419           44.205479
iphone_5s     1                   14.131829           79.014519
              2                   45.934855           34.539363
              3                   39.933316           35.466924
iphone_6      1                   23.523548           57.494703
              2                   28.008971           41.577402
              3                   48.467481           40.689460
iphone_xs     1                    1.343284           49.481481
              2                   36.517413           47.891008
              3                   62.139303           47.231385
iphone_xs_max 1                    1.503053           98.437500
              2                   48.473462           47.869186
              3                   50.023485           45.375587

In [165]:
#df_mer.to_excel(data_path + '리뷰그룹_정리.xlsx')

# Characteristics of attribute groups

In [193]:
df_cal = pd.read_excel('/Users/sonjiyeong/Documents/랩실 프로젝트/스마트폰 리뷰마이닝/3. IPA/1. 중요도, 부긍정비 계산/중요도_부긍정비_계산.xlsx')
df_c = df_cal.copy()
df_c = df_c.transpose()
df_c.columns = df_c.iloc[0]
df_c = df_c[1:]
df_c

df = df_c.copy()

index,model,rel_ord,period,상대적중요도_bat,상대적중요도_dis,상대적중요도_cam,상대적중요도_body,상대적중요도_func,상대적중요도_main,1대비_상대적중요도_bat,...,부긍정_cam,부긍정_body,부긍정_func,부긍정_main,1대비_부긍정_bat,1대비_부긍정_dis,1대비_부긍정_cam,1대비_부긍정_body,1대비_부긍정_func,1대비_부긍정_main
0,iphone4s,1,1,0.169697,0.157576,0.145455,0.218182,0.163636,0.145455,1,...,0.346154,0.525,0.451613,0.4375,1,1,1,1,1,1
1,iphone4s,1,2,0.121622,0.126126,0.087838,0.371622,0.13964,0.153153,0.716699,...,0.384615,0.503067,0.587302,0.368421,1.207547,1.295238,1.111111,0.958224,1.300454,0.842105
2,iphone4s,1,3,0.177326,0.113372,0.079942,0.335756,0.196221,0.097384,1.044954,...,0.589286,0.548117,0.786765,0.444444,1.339837,1.6,1.702381,1.044033,1.742122,1.015873
3,iphone4s,1,4,0.32153,0.106232,0.03966,0.284703,0.165722,0.082153,1.894729,...,0.535714,0.473684,0.752137,0.408163,1.451327,1.712676,1.547619,0.902256,1.665446,0.932945
4,galaxy_s3,2,1,0.160107,0.256838,0.11074,0.216144,0.140761,0.11541,1,...,0.351648,0.572207,0.480851,0.375,1,1,1,1,1,1
5,galaxy_s3,2,2,0.22043,0.213262,0.115591,0.229391,0.128136,0.09319,1.37677,...,0.242424,0.525926,0.46,0.442308,1.289174,1.010335,0.689394,0.919118,0.956637,1.179487
6,galaxy_s3,2,3,0.308824,0.176471,0.065359,0.259804,0.114379,0.075163,1.92886,...,0.6,0.689024,0.73913,0.586957,1.562388,1.903103,1.70625,1.204152,1.53713,1.565217
7,galaxy_s3,2,4,0.345865,0.180451,0.090226,0.240602,0.090226,0.052632,2.160213,...,0.458333,0.720588,0.73913,0.5,1.593334,1.908059,1.303385,1.259314,1.53713,1.333333
8,iphone5,3,1,0.134766,0.210938,0.113281,0.287109,0.138672,0.115234,1,...,0.421875,0.5,0.585366,0.392857,1,1,1,1,1,1
9,iphone5,3,2,0.15051,0.163265,0.096939,0.359694,0.127551,0.102041,1.116829,...,0.526316,0.534722,0.431373,0.27027,1.13659,1.31406,1.247563,1.069444,0.736928,0.687961
10,iphone5,3,3,0.331668,0.144855,0.053946,0.303696,0.117882,0.047952,2.461075,...,0.685185,0.621118,0.805085,0.47619,1.292382,1.88393,1.624143,1.242236,1.375353,1.212121
11,iphone5,3,4,0.392449,0.147597,0.050343,0.273455,0.105263,0.030892,2.912082,...,0.790698,0.653226,0.793478,0.541667,1.421484,2.040537,1.874246,1.306452,1.355525,1.378788
12,galaxy_s4,4,1,0.170287,0.225891,0.164205,0.184188,0.141616,0.113814,1,...,0.346535,0.561702,0.451087,0.479167,1,1,1,1,1,1
13,galaxy_s4,4,2,0.247387,0.182927,0.125436,0.205575,0.132404,0.106272,1.452766,...,0.480519,0.694215,0.693333,0.619048,1.150685,1.415678,1.386642,1.235913,1.537028,1.291925
14,galaxy_s4,4,3,0.241309,0.210634,0.09407,0.229039,0.141104,0.083845,1.417074,...,0.446809,0.625,0.828571,0.540541,1.301653,1.682532,1.289362,1.112689,1.836833,1.128085
15,galaxy_s4,4,4,0.302885,0.192308,0.100962,0.1875,0.163462,0.052885,1.778674,...,0.7,0.731707,0.8,0.8,1.3125,1.704399,2.02,1.302661,1.773494,1.669565
16,iphone_5s,5,1,0.104878,0.136585,0.143902,0.27561,0.204878,0.134146,1,...,0.387097,0.401639,0.43617,0.468085,1,1,1,1,1,1
17,iphone_5s,5,2,0.166942,0.160331,0.084298,0.361983,0.13719,0.089256,1.591774,...,0.462963,0.482143,0.579545,0.541667,1.285714,1.369408,1.195988,1.200437,1.328714,1.157197
18,iphone_5s,5,3,0.182796,0.185868,0.061444,0.331797,0.152074,0.086022,1.742936,...,0.5,0.515556,0.666667,0.5,1.452785,1.598361,1.291667,1.283628,1.528455,1.068182
19,iphone_5s,5,4,0.28268,0.178105,0.04085,0.316993,0.120915,0.060458,2.695318,...,0.76,0.659898,0.8,0.611111,1.506193,1.618611,1.963333,1.643013,1.834146,1.305556
20,galaxy_s5,6,1,0.183189,0.206944,0.164459,0.21608,0.15989,0.069438,1,...,0.325123,0.46337,0.498747,0.439024,1,1,1,1,1,1
21,galaxy_s5,6,2,0.198949,0.175676,0.142643,0.264264,0.142643,0.075826,1.086033,...,0.408867,0.490814,0.64467,0.525773,1.293552,1.382675,1.257576,1.059226,1.29258,1.197595
22,galaxy_s5,6,3,0.219751,0.189502,0.115658,0.244662,0.154804,0.075623,1.199588,...,0.540146,0.599291,0.740113,0.544304,1.676341,2.011164,1.661358,1.293331,1.483945,1.239803
23,galaxy_s5,6,4,0.266467,0.223054,0.083832,0.236527,0.146707,0.043413,1.454605,...,0.571429,0.72956,0.842105,0.655172,1.960497,2.481725,1.757576,1.574465,1.688442,1.492337
24,iphone_6,7,1,0.126761,0.201878,0.157277,0.269953,0.147887,0.096244,1,...,0.435897,0.507576,0.571429,0.555556,1,1,1,1,1,1
25,iphone_6,7,2,0.099352,0.192225,0.12743,0.349892,0.151188,0.079914,0.783777,...,0.709677,0.471591,0.625,0.441176,0.990476,1.168913,1.628083,0.929104,1.09375,0.794118
26,iphone_6,7,3,0.222326,0.225141,0.08349,0.262664,0.154784,0.051595,1.753909,...,0.813187,0.660839,0.874251,0.596491,1.596694,1.705477,1.865546,1.301952,1.52994,1.073684
27,iphone_6,7,4,0.321995,0.206349,0.049887,0.226757,0.151927,0.043084,2.540186,...,0.952381,0.739583,0.880597,0.6875,1.813712,1.816479,2.184874,1.45709,1.541045,1.2375
28,galaxy_s6,8,1,0.232315,0.155949,0.161576,0.217042,0.127814,0.105305,1,...,0.3125,0.539735,0.555556,0.590604,1,1,1,1,1,1
29,galaxy_s6,8,2,0.251302,0.157552,0.134115,0.283854,0.102865,0.070313,1.081729,...,0.364486,0.534783,0.54321,0.5,1.171435,1.452463,1.166355,0.990824,0.977778,0.846591
30,galaxy_s6,8,3,0.338793,0.162931,0.10431,0.231034,0.112069,0.050862,1.458334,...,0.456,0.579137,0.716418,0.607143,1.304808,1.916578,1.4592,1.073002,1.289552,1.028003
31,galaxy_s6,8,4,0.392734,0.153979,0.084775,0.228374,0.102076,0.038062,1.690521,...,0.541667,0.613139,0.719298,0.47619,1.332665,2.063158,1.733333,1.135999,1.294737,0.806277
32,iphone6s,9,1,0.081871,0.169591,0.152047,0.260234,0.190058,0.146199,1,...,0.316667,0.41,0.423077,0.375,1,1,1,1,1,1
33,iphone6s,9,2,0.208696,0.136646,0.074534,0.395031,0.124224,0.06087,2.549068,...,0.587302,0.41896,0.627451,0.387755,1.384615,1.390301,1.854637,1.021854,1.483066,1.034014
34,iphone6s,9,3,0.287907,0.123389,0.068754,0.340086,0.141191,0.038674,3.516575,...,0.765217,0.415808,0.719828,0.525424,1.554604,1.382032,2.416476,1.014165,1.701411,1.40113
35,iphone6s,9,4,0.452076,0.112146,0.053163,0.245634,0.107877,0.029104,5.521786,...,0.654412,0.462822,0.685921,0.472222,1.618887,1.372228,2.066563,1.128835,1.621267,1.259259
36,galaxy_s7,10,1,0.168367,0.168367,0.191837,0.25,0.133673,0.087755,1,...,0.238579,0.558394,0.492857,0.445652,1,1,1,1,1,1
37,galaxy_s7,10,2,0.190976,0.165792,0.115425,0.327387,0.132214,0.068206,1.134281,...,0.327586,0.51227,0.639098,0.416667,1.224164,1.26592,1.373074,0.917398,1.29672,0.934959
38,galaxy_s7,10,3,0.286598,0.150515,0.083505,0.309278,0.115464,0.054639,1.702218,...,0.5,0.583871,0.660714,0.436364,1.446696,1.391457,2.095745,1.045625,1.34058,0.979157
39,galaxy_s7,10,4,0.38159,0.135565,0.068619,0.248536,0.123013,0.042678,2.266413,...,0.444444,0.51634,0.641892,0.4,1.506846,1.237642,1.862884,0.924687,1.302389,0.897561
40,iphone7,11,1,0.113208,0.119497,0.18239,0.295597,0.194969,0.09434,1,...,0.369231,0.559633,0.632353,0.30303,1,1,1,1,1,1
41,iphone7,11,2,0.125926,0.161111,0.090741,0.398148,0.174074,0.05,1.112346,...,0.54717,0.484581,0.691489,0.4,1.43975,1.571429,1.481918,0.865892,1.093518,1.32
42,iphone7,11,3,0.282986,0.132523,0.063657,0.317708,0.164931,0.038194,2.499711,...,0.678899,0.46223,0.735192,0.532258,1.396957,1.477477,1.838685,0.825952,1.162629,1.756452
43,iphone7,11,4,0.35004,0.13177,0.070331,0.25384,0.146322,0.047696,3.092024,...,0.75,0.534743,0.747253,0.54386,1.667974,1.493671,2.03125,0.955525,1.181702,1.794737
44,galaxy_s10e,12,1,0.185714,0.119048,0.085714,0.385714,0.157143,0.066667,1,...,0.333333,0.280899,0.3,0.384615,1,1,1,1,1,1
45,galaxy_s10e,12,2,0.205323,0.134981,0.106464,0.326996,0.146388,0.079848,1.105586,...,0.233333,0.32973,0.406977,0.170732,1.065421,0.883576,0.7,1.173838,1.356589,0.443902
46,galaxy_s10e,12,3,0.266846,0.114555,0.097035,0.291105,0.173854,0.056604,1.436865,...,0.309859,0.354978,0.496241,0.219512,1.483352,1.040724,0.929577,1.263723,1.654135,0.570732
47,galaxy_s10e,12,4,0.261474,0.130737,0.104312,0.282337,0.148818,0.072323,1.407938,...,0.527778,0.38785,0.535714,0.36,1.822994,1.183432,1.583333,1.380748,1.785714,0.936

In [194]:
cols_to_melt = ['상대적중요도', '1대비_상대적중요도', '부긍정', '1대비_부긍정']
melted_dfs = []

for col in cols_to_melt:
    cols = [column for column in df.columns if column.startswith(col)]

    melted_df = df.melt(id_vars=['model', 'rel_ord', 'period'], value_vars=cols, 
                        var_name='variable', value_name=col)

    melted_df['feature'] = melted_df['variable'].apply(lambda x: x.split('_')[-1])
    melted_df.drop(columns=['variable'], inplace=True)
    melted_dfs.append(melted_df)

result = melted_dfs[0]
for melted_df in melted_dfs[1:]:
    result = pd.merge(result, melted_df, on=['model', 'rel_ord', 'period', 'feature'])
result = result[result['period']<=3].drop(columns='rel_ord')

In [195]:
result

           model period    상대적중요도 feature 1대비_상대적중요도       부긍정   1대비_부긍정
0       iphone4s      1  0.169697     bat          1     0.625         1
1       iphone4s      2  0.121622     bat   0.716699  0.754717  1.207547
2       iphone4s      3  0.177326     bat   1.044954  0.837398  1.339837
4      galaxy_s3      1  0.160107     bat          1  0.565543         1
5      galaxy_s3      2   0.22043     bat    1.37677  0.729084  1.289174
..           ...    ...       ...     ...        ...       ...       ...
281      iphone7      2      0.05    main       0.53       0.4      1.32
282      iphone7      3  0.038194    main   0.404861  0.532258  1.756452
284  galaxy_s10e      1  0.066667    main          1  0.384615         1
285  galaxy_s10e      2  0.079848    main   1.197719  0.170732  0.443902
286  galaxy_s10e      3  0.056604    main   0.849057  0.219512  0.570732

[216 rows x 7 columns]

# Characteristics of attribute groups (추가)

In [82]:
df = pd.read_csv('전체_모델속성별_횟수.csv')

In [83]:
lst_out = ['proc_yn', 'stor_yn', 'proc_p', 'stor_p', 'proc_n', 'stor_n', 'acc_yn', 'acc_p', 'acc_n']
lst_aspect = ['bat', 'dis', 'cam', 'body', 'func', 'main']

lst_yn = ['bat_yn', 'dis_yn', 'cam_yn', 'body_yn', 'func_yn', 'main_yn']
lst_p = ['bat_p', 'dis_p', 'cam_p', 'body_p', 'func_p', 'main_p']
lst_n = ['bat_n', 'dis_n', 'cam_n', 'body_n', 'func_n', 'main_n']

In [84]:
df = df.iloc[:, :-9].drop(lst_out, axis=1)
df = df[df['period']<=3].drop(columns='rel_ord')

In [85]:
df

,model,period,count,bat_yn,dis_yn,cam_yn,body_yn,func_yn,main_yn,bat_p,...,cam_p,body_p,func_p,main_p,bat_n,dis_n,cam_n,body_n,func_n,main_n
0,iphone4s,1,200,28,26,24,36,27,24,12,...,17,19,17,9,20,15,9,21,14,7
1,iphone4s,2,791,54,56,39,165,62,68,13,...,24,81,26,36,40,34,15,82,37,21
2,iphone4s,3,1337,122,78,55,231,135,67,20,...,23,108,29,35,103,60,33,131,107,28
4,galaxy_s3,1,1157,240,385,166,324,211,173,116,...,118,157,122,110,151,167,64,210,113,66
5,galaxy_s3,2,1461,246,238,129,256,143,104,68,...,100,128,81,58,183,100,32,142,69,46
6,galaxy_s3,3,1733,189,108,40,159,70,46,22,...,16,51,18,19,167,80,24,113,51,27
8,iphone5,1,542,69,108,58,147,71,59,25,...,37,80,34,34,51,53,27,80,48,22
9,iphone5,2,771,59,64,38,141,50,40,14,...,18,67,29,27,45,34,20,77,22,10
10,iphone5,3,2190,332,145,54,304,118,48,45,...,17,122,23,22,294,114,37,200,95,20
12,galaxy_s4,1,1191,196,260,189,212,163,131,69,...,132,103,101,75,138,123,70,132,83,69
13,galaxy_s4,2,1278,142,105,72,118,76,61,34,...,40,37,23,24,112,65,37,84,52,39
14,galaxy_s4,3,1065,118,103,46,112,69,41,16,...,26,42,12,17,105,73,21,70,58,20
16,iphone_5s,1,551,43,56,59,113,84,55,20,...,38,73,53,25,28,35,24,49,41,22
17,iphone_5s,2,1791,101,97,51,219,83,54,25,...,29,116,37,22,75,73,25,108,51,26
18,iphone_5s,3,1557,119,121,40,216,99,56,18,...,20,109,33,26,100,105,20,116,66,26
20,galaxy_s5,1,2717,401,453,360,473,350,152,242,...,274,293,200,92,181,171,132,253,199,72
21,galaxy_s5,2,2071,265,234,190,352,190,101,121,...,120,194,70,46,150,117,83,187,127,51
22,galaxy_s5,3,1657,247,213,130,275,174,85,67,...,63,113,46,36,170,156,74,169,131,43
24,iphone_6,1,944,54,86,67,115,63,41,26,...,44,65,30,20,30,51,34,67,40,25
25,iphone_6,2,1124,46,89,59,162,70,37,23,...,18,93,27,19,26,59,44,83,45,15
26,iphone_6,3,1945,237,240,89,280,165,55,35,...,17,97,21,23,207,217,74,189,146,34
28,galaxy_s6,1,1325,289,194,201,270,159,131,108,...,154,139,80,61,229,95,70,163,100,88
29,galaxy_s6,2,1194,193,121,103,218,79,54,41,...,68,107,37,26,160,77,39,123,44,26
30,galaxy_s6,3,1830,393,189,121,268,130,59,45,...,68,117,38,22,352,152,57,161,96,34
32,iphone6s,1,557,28,58,52,89,65,50,15,...,41,59,45,30,15,35,19,41,33,18
33,iphone6s,2,1509,168,110,60,318,100,49,52,...,26,190,38,30,117,78,37,137,64,19
34,iphone6s,3,2461,469,201,112,554,230,63,104,...,27,340,65,28,363,138,88,242,167,31
36,galaxy_s7,1,1122,165,165,188,245,131,86,85,...,150,121,71,51,94,107,47,153,69,41
37,galaxy_s7,2,1588,182,158,110,312,126,65,65,...,78,159,48,35,117,116,38,167,85,25
38,galaxy_s7,3,1499,278,146,81,300,112,53,68,...,39,129,38,31,215,118,39,181,74,24
40,iphone7,1,544,36,38,58,94,62,30,22,...,41,48,25,23,18,21,24,61,43,10
41,iphone7,2,1107,68,87,49,215,94,27,25,...,24,117,29,15,46,66,29,110,65,10
42,iphone7,3,2701,489,229,110,549,285,66,179,...,35,299,76,29,303,164,74,257,211,33
44,galaxy_s10e,1,264,39,25,18,81,33,14,25,...,12,64,21,8,13,13,6,25,9,5
45,galaxy_s10e,2,544,108,71,56,172,77,42,68,...,46,124,51,34,39,34,14,61,35,7
46,galaxy_s10e,3,785,198,85,72,216,129,42,99,...,49,149,67,32,102,46,22,82,66,9

In [86]:
# 언급비율
lst_yn_r = []

for col in lst_yn:
    new_col = col + '_r'
    lst_yn_r.append(new_col)
    df[new_col] = df[col] / df['count']    

# 상대적중요도 분모값
df['상대적중요도_분모'] = df[lst_yn_r].sum(axis=1)
lst_상대적중요도 = []

for col in lst_yn_r:
    new_col = '상대적중요도_' + col.replace('_yn_r', '')
    lst_상대적중요도.append(new_col)
    
    df[new_col] = df[col] / df['상대적중요도_분모']
    
# 1년차 상대적중요도 추출
lst_상대적중요도_1p = []

df_1p = df[df['period']==1][['model'] + lst_상대적중요도]

for col in lst_상대적중요도:
    new_col = '1p_' + col
    lst_상대적중요도_1p.append(new_col)
    df_1p = df_1p.rename(columns={col:new_col})
    
    
# 1년차 대비 상대적 중요도
df = pd.merge(df, df_1p, on='model', how='left')

lst_상대적중요도_대비 = []
for col in lst_상대적중요도:
    new_col = '1대비_' + col
    col_1p = '1p_' + col
    lst_상대적중요도_대비.append(new_col)
    df[new_col] = df[col] / df[col_1p]

In [87]:
# 긍정비율
lst_p_r = []

for i in range(len(lst_p)):
    new_col = lst_p[i] + '_r'
    lst_p_r.append(new_col)

    df[new_col] = df[lst_p[i]] / df[lst_yn[i]]

# 부정비율
lst_n_r = []

for i in range(len(lst_n)):
    new_col = lst_n[i] + '_r'
    lst_n_r.append(new_col)

    df[new_col] = df[lst_n[i]] / df[lst_yn[i]]

# 긍부정비
lst_pn = []

for i in range(len(lst_yn)):
    new_col = '긍부정_' + lst_aspect[i]
    lst_pn.append(new_col)
    
    pv = lst_p_r[i]
    nv = lst_n_r[i]

    df[new_col] = df[pv] / (df[pv] + df[nv])

# 부긍정비
lst_np = []

for i in range(len(lst_yn)):
    new_col = '부긍정_' + lst_aspect[i]
    lst_np.append(new_col)
    
    pv = lst_p_r[i]
    nv = lst_n_r[i]

    df[new_col] = df[nv] / (df[pv] + df[nv])

# 1년차 대비 부긍정
lst_np_1p = []

df_1p = df[df['period']==1][['model'] + lst_np]

for col in lst_np:
    new_col = '1p_' + col
    lst_np_1p.append(new_col)
    df_1p = df_1p.rename(columns={col:new_col})

df = pd.merge(df, df_1p, on='model', how='left')

lst_np_대비 = []

for col in lst_np:
    new_col = '1대비_' + col
    col_1p = '1p_' + col
    lst_np_대비.append(new_col)
    df[new_col] = df[col] / df[col_1p]

In [88]:
df_sel = df.copy()
df_sel = df_sel[['model', 'period'] + lst_상대적중요도 + lst_상대적중요도_대비 + lst_np + lst_np_대비]

In [159]:
cols_to_melt = ['_yn', '_yn_r', '_p', '_p_r', '_n', '_n_r']
melted_dfs = []

for col in cols_to_melt:
    cols = [column for column in df.columns if column.endswith(col)]

    melted_df = df.melt(id_vars=['model', 'period'], value_vars=cols, 
                        var_name='variable', value_name=col)

    melted_df['feature'] = melted_df['variable'].apply(lambda x: x.split('_')[0])
    melted_df.drop(columns=['variable'], inplace=True)
    melted_dfs.append(melted_df)

result = melted_dfs[0]
for melted_df in melted_dfs[1:]:
    result = pd.merge(result, melted_df, on=['model', 'period', 'feature'])

In [160]:
result = result.rename(columns={'_yn':'출현빈도', '_yn_r':'출현비율', '_p':'긍정빈도', '_p_r':'긍정비율', 
                       '_n':'부정빈도', '_n_r':'부정비율'})

In [161]:
df1 = result.set_index(['model', 'period', 'feature']).sort_values(by=['model', 'period', 'feature'])
df2 = result.set_index(['model', 'feature', 'period']).sort_values(by=['model', 'feature', 'period'])

In [162]:
df2

                            출현빈도      출현비율  긍정빈도      긍정비율  부정빈도      부정비율
model       feature period
galaxy_s10e bat     1         39  0.147727    25  0.641026    13  0.333333
                    2        108  0.198529    68  0.629630    39  0.361111
                    3        198  0.252229    99  0.500000   102  0.515152
            body    1         81  0.306818    64  0.790123    25  0.308642
                    2        172  0.316176   124  0.720930    61  0.354651
...                          ...       ...   ...       ...   ...       ...
iphone_6    func    2         70  0.062278    27  0.385714    45  0.642857
                    3        165  0.084833    21  0.127273   146  0.884848
            main    1         41  0.043432    20  0.487805    25  0.609756
                    2         37  0.032918    19  0.513514    15  0.405405
                    3         55  0.028278    23  0.418182    34  0.618182

[216 rows x 6 columns]

In [163]:
with pd.ExcelWriter('/Users/sonjiyeong/Documents/랩실 프로젝트/스마트폰 리뷰마이닝/논문 추가 자료/표 추가 정리.xlsx', engine='xlsxwriter') as writer:
    df1.to_excel(writer, sheet_name='모델_연차_속성_추가')
    df2.to_excel(writer, sheet_name='모델_속성_연차_추가')